<% layout("layouts/boilerplate") %>

<div class="row m-0">
    <div class="col-md-12 col-sm-12">
        <h1> <%= currentRoom.name %> </h1>
    </div>
</div>
<div class="row flex-grow-1 m-0">

    <!-- chat window -->
    <div class="col-md-8 col-sm-8 border p-2 d-flex flex-column">
        <div id="messages-container" class="border flex-grow-1">


            <ul id="messages">
                <% for(let item of messageList) { %>
                <% if(item.sender) { %>
                <li class="message-item">
                    <div class="messagepic-container">
                        <img class="picture" src="/<%=item.sender.profilePic%>" />
                    </div>
                    <div>
                        <b> <%= item.sender.username %> </b>
                        <span> <%= item.created.toLocaleDateString("en-US") %>,
                            <%= item.created.toLocaleTimeString("en-US") %> </span>
                        <div> <%= item.chatmessage %> </div>
                    </div>

                </li>
                <!-- if the senders account is deleted display this instead: -->
                <% } else {%>
                <div>
                    <b> deleted user</b>
                    <span> <%= item.created.toLocaleDateString("en-US") %>,
                        <%= item.created.toLocaleTimeString("en-US") %> </span>
                    <div> <%= item.chatmessage %> </div>
                </div>
                <% } %>
                <% } %>



            </ul>
        </div>

        <form id="chat-form" class="d-flex mt-auto">
            <input id="chat-input" type="text" placeholder="enter a message" class="flex-grow-1">
            <input id="send-btn" type="submit" value="Send" class="btn btn-large border ml-auto">
        </form>
    </div>

    <!-- show current users in chat here -->
    <div class="col-md-4 col-sm-4 border p-2">
        <div>logged in as:</div>
        <div id="this_user"> <%= signedInUser.username %> </div>
        <div> users: </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/scripts/chatroom.js"></script>