<% layout("layouts/boilerplate") %>

<div class="row border-top ">
    <div class="col-md-12 d-flex pt-3">
        <p id="room-heading"> # <%= currentRoom.name %> ( </p>
        <p>logged in as <span id="this_user"> <%= signedInUser.username %> </span></p>)
    </div>
</div>

<div class="row h-100 flex-nowrap">

    <div class="sidebar-container d-flex flex-column  ">
        <div class="sidebar flex-grow-1">
            <div class="sidebar-content border-top">

                <!-- current users list-->
                <p class="sidebar-heading">online users</p>
                <ul id="user-list" class="sidebar-list  pb-2">

                </ul>

                <!-- channel list -->
                <p class="sidebar-heading">channels</p>
                <ul class="sidebar-list">
                    <% for(let i = 0; i < rooms.length; i++) {  %>
                    <li class="sidebar-item"><a href="/chat/<%=rooms[i]._id%>"> # <%= rooms[i].name %> </a>
                        <!-- if current user is the creater of the room: add a delete button as well -->
                        <% if(JSON.stringify(signedInUser._id) == JSON.stringify(rooms[i].creator)) {%>
                        <input class="delete_btn hidden" value="&#10005;" type="button" name="<%=rooms[i].id%>">
                        <% } %>
                    </li>
                    <% } %>
                </ul>

            </div>
        </div>
    </div>

    <!-- chat window -->
    <div class="col d-flex flex-column border p-0 ">
        <div id="messages-container" class="flex-grow-1">

            <ul id="messages">
                <% for(let item of messageList) { %>
                <% if(item.sender) { %>
                <li id="<%=item._id%>" class="message-item">
                    <div class="messagepic-container">
                        <%if(item.sender.profilePicUrl){ %>
                        <img class="picture" src="<%=item.sender.profilePicUrl%>" />
                        <% } else {%>
                        <img class="picture" src="/public/images/default.jpg" />
                        <% } %>
                    </div>
                    <div class="message-container">
                        <div class="sender-date-container">
                            <span class="item-sender"> <%= item.sender.username %> </span>
                            <span class="item-date"> <%= item.created.toLocaleDateString("en-US") %>,
                                <%= item.created.toLocaleTimeString("en-US") %> </span>
                        </div>
                        <div class="item-text"> <%= item.chatmessage %> </div>
                    </div>

                    <div class="delete-btn-container">
                        <!-- when hovering over your own messages a delete button will show.  -->
                        <% if(JSON.stringify(signedInUser._id) == JSON.stringify(item.sender._id)){ %>
                        <input class="delete_btn hidden" value="x" type="button" name="<%=item._id%>">
                        <% } %>
                    </div>

                </li>
                <!-- if the senders account is deleted display this instead: -->
                <% } else {%>
                <div>
                    <b> deleted user</b>
                    <span> <%= item.created.toLocaleDateString("en-US") %>,
                        <%= item.created.toLocaleTimeString("en-US") %> </span>
                    <div> <%= item.chatmessage %> </div>
                </div>
                <% } %>
                <% } %>

            </ul>
        </div>

        <form id="chat-form" class="d-flex mt-auto border" autocomplete="off">
            <input id="chat-input" type="text" placeholder="Message" class="flex-grow-1">
            <input id="send-btn" type="submit" value="Send" class="ml-auto">
        </form>
    </div>


</div>
<script src="/public/scripts/chat.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/scripts/chatroom.js"></script>